* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: start;
    justify-content: space-evenly;
    padding-top: 40px;
}

.container > div {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: black 4px solid;
    border-radius: 20px;
    min-width: 230px;
    min-height: 300px;
}

.edit-form{
    margin: 200px;
}

.created-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: navajowhite;
    margin-left: 800px;
    margin-top: 20px;
    width: 300px;
}

.btn{
    border: 0;
    background-color: orange;
    padding: 10px;
}

.created-form > p{
    margin-top: 10px;
}

.edit-form > p{
    margin-top: 20px;
}

.card{
    background-color: navajowhite;
    min-width: 200px;
    margin-bottom: 10px;
    cursor: move;
    padding: 20px;
}

.card > div{
    padding: 5px;
}

.reason-form {
    margin: 200px;
}

.reason-form > p{
    margin-top: 20px;
}

.move{
    display: flex;
    justify-content: space-between;
}




